.img-fluid{
    max-width: 50% !important;
    max-height: 50% !important;
}



@media only screen and (max-width: 770px) {
    .img-fluid{
        max-width: 70% !important;
        max-height: 30% !important;
    }
}

.has-error{
    background-color: #ff000040 !important;
  }

.has-success{
    background-color: rgba(0, 128, 0, 0.39) !important;
  }